body{background-image: url(https://kynguyenlamdep.com/wp-content/uploads/2020/04/hinh-anh-trang-dep.jpg); background-size: 100%;}



audio{
    background-color:white;
   
    margin-top: 100px;
}
#txtUsername{background-color: #fdfdfc; border: solid 1px black}
#btnSignUp{
    color: cornsilk;
    background-color: rgb(7, 121, 121);

}
p{
    font-variant:small-caps;
    color:black;
    position: relative; 
    top: 25px;
/*     margin-right: 100px; */
    font-size : 20px;
}
ul{
    color: green;
    position: relative; 
    top: 25px;
/*     margin-right: 100px; */
}
h3{
    color: black;
/*     margin-left: 300px; */
    position: relative; 
    bottom: 50px;
    margin-top: 150px;
}
#btnCall{
    color: cornsilk;
    background-color: rgb(7, 121, 121);
    position: relative;
    bottom: 400px;
}
#remoteId{
/*     margin-left: 300px; */
    margin-top: 350px;
    position: relative;
    bottom: 400px;
}
/* h1 {
    margin-left :600px;
} */